<div class="callout">
  <div class="float-left">
    <%= link_to 'Author: Paul Sonkoly', blogpost %> | 
    <%= link_to "Comments: #{blogpost.comments.count}", blogpost %>
  </div>

  <% if can? :manage, Blogpost %>
  <div class="float-right">	
    <%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
  </div>
  <% end %>
  <br />
</div>
