<% @blogposts.each do |blogpost| %>
    <%= render 'blogpost', blogpost: blogpost %>
<% end %>

<div class="text-center">
    <%= will_paginate @blogposts, renderer: FoundationPagination::Rails %>
</div>
