<fieldset class="nested-fields">    
    <div id="locations">
	<%= f.fields_for :locations do |location_form| %>
	    <%= render 'locations/location_fields', f: location_form %>
	<% end %>

	<%= link_to_add_association 'Add location', f, :locations,
	partial: 'locations/location_fields', class: 'button' %>
    </div>
</fieldset>
